.main {
    background-color: rgb(241, 227, 255);
    padding-top: 100px;
    padding-bottom: 350px;
    width: 100%;
    height: 100%;
}

.main_font {
    text-align: center;
    margin-top: 250px;
}
.main_font span {
    font-size: 80px;
    font-weight: 700;
    display: inline-block;
    animation: loading .8s 4 alternate;
}
.main_font span:nth-child(2) {
    animation-delay: .1s;
  }
.main_font span:nth-child(3) {    
    animation-delay: .2s;
}
.main_font span:nth-child(4) {
    animation-delay: .3s;
}
.main_font span:nth-child(5) {
    animation-delay: .4s;
}
.main_font span:nth-child(6) {
    animation-delay: .5s;
}
.main_font span:nth-child(7) {
    animation-delay: .6s;
}
.main_font span:nth-child(8) {
    animation-delay: .7s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.main_font1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.main_font2 {
    padding-top: 70px;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
}

@media (max-width: 900px) {
    .main_font {
        text-align: center;
        margin-top: 250px;
    }
    .main_font span {
        font-size: 70px;
        font-weight: 700;
        display: inline-block;
        animation: loading .8s 4 alternate;
    }
    .main_font span:nth-child(2) {
        animation-delay: .1s;
      }
    .main_font span:nth-child(3) {    
        animation-delay: .2s;
    }
    .main_font span:nth-child(4) {
        animation-delay: .3s;
    }
    .main_font span:nth-child(5) {
        animation-delay: .4s;
    }
    .main_font span:nth-child(6) {
        animation-delay: .5s;
    }
    .main_font span:nth-child(7) {
        animation-delay: .6s;
    }
    .main_font span:nth-child(8) {
        animation-delay: .7s;
    }
    
    @keyframes loading {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.8);
        }
    }

    .main_font1 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .main_font2 {
        padding: 40px;
        font-size: 20px;
        font-weight: 1000;
        text-align: center;
    }
}

@media (max-width: 540px) {
    .main_font {
        margin-top: 220px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .main_font span {
        font-size: 50px;
        font-weight: 700;
        display: inline-block;
        animation: loading .8s 4 alternate;
    }
    .main_font span:nth-child(2) {
        animation-delay: .1s;
      }
    .main_font span:nth-child(3) {    
        animation-delay: .2s;
    }
    .main_font span:nth-child(4) {
        animation-delay: .3s;
    }
    .main_font span:nth-child(5) {
        animation-delay: .4s;
    }
    .main_font span:nth-child(6) {
        animation-delay: .5s;
    }
    .main_font span:nth-child(7) {
        animation-delay: .6s;
    }
    .main_font span:nth-child(8) {
        animation-delay: .7s;
    }
    
    @keyframes loading {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.8);
        }
    }

    .main_font1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 28px;
        font-weight: 500;
        text-align: center;
    }

    .main_font2 {
        padding: 20px;
        font-size: 17px;
        font-weight: 1000;
        text-align: center;
    }
}