.header {
    width: 100%;
    height: 80px;
    text-align: center;
    box-shadow: 0 1px 10px rgba(82, 81, 81, 0.8);
    position: fixed;
    background-color: white;
    z-index: 999;
}


.footer {
    height: 80px;
    box-shadow: 0 1px 10px rgba(82, 81, 81, 0.8);
    background-color: white;
}

.cp {cursor: pointer;}

.menu-item {
    display: inline-block;
    color: black;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-item:hover {
    color: rgb(187, 125, 250);
}

.menu-item:active, .menu-item.active {
    /* background-color: rgb(210, 170, 250); */
    color: rgb(141, 32, 250);
}

.footer_font {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
    color: rgb(179, 179, 179);
}


/* modal */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .modal-wrap {
    height: auto;
    max-height: 100%;
    transform: translate(0);
    background-color: #fff;
    border-radius: 8px;		
  }
  .modal-680 {
    width: 680px;
  }
  
  
  /* 모달 가로 긴 버전 */
  .modal-850 {
    width: 850px;
    height: 598px;
  }
  
  .modal-auto {
    width: 1170px;
  }
  
  
  .modal:focus {
    outline: none;
  }
  .modal-wrap .modal-header {
    height: 50px;
    background-color: #f16772;
    border-radius: 8px 8px 0 0;
    padding: 0 24px;
  }
  
  .modal-wrap .modal-header .modal-title {
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 50px;
  }
  .modal-wrap .modal-header .modal-sub {
    float: right;
    font-weight: 100;
    font-size: 10px;
    color: #fff;
    line-height: 50px;
  }
  .modal-wrap .modal-header .close-btn {
    float: right;
    width: 24px;
    min-width: 24px;
    height: 24px;
    padding: 0;
    margin-top: 13px;
  }
  
  .modal-wrap .modal-body {
    padding: 15px 24px 0;
  }
  
  .modal-wrap .modal-footer {
    padding: 20px 0 0;
    margin: 0 24px 24px;
    text-align: center;
  }
  
  .modal-wrap .modal-footer1 {
    padding: 20px 0 0;
    margin: 0 10px 25px;
    text-align: center;
  }

@media (max-width: 900px) {
    .menu-item {
        display: inline-block;
        color: black;
        font-size: 16px;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 540px) {
    .menu-item {
        display: inline-block;
        color: black;
        font-size: 13px;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        padding-left: 12px;
        padding-right: 12px;
    }
}